.card {
    width: 250px;
    height: 320px;
    position: relative;
    background-color: rgb(216, 216, 216);
  }
  .card .content {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 225, 0.089);
    backdrop-filter: blur(20px);
    border: 1px solid white;
    color: rgb(122, 122, 122);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.055);
    transition: all 0.4s;
  }
  .card .content p {
    font-size: 0.8em;
    padding: 0.3em 1.5em;
    text-align: center;
  }
  .card:hover .content {
    color: rgb(0, 0, 0);
  }
  
  .card:hover{
    border: 1px solid rgb(51, 51, 51);
  }
  
  .card::before,
  .card::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -20;
    transition: all 0.4s;
  }
  .card::before {
    top: 0;
    right: 0;
  }
  .card::after {
    bottom: 0;
    left: 0;
  }
  .card:hover::before {
    width: 50px;
    height: 50px;
    transform: translate(20px, -20px);
    border-radius: 50%;
  }
  .card:hover::after {
    width: 100px;
    height: 100px;
    transform: translate(-20px, 20px);
    border-radius: 50%;
  }
  
  
  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 100px;
    border: 1px solid #f1f1f1;
    /* perspective: 1000px; Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  
  
  /* Style the back side */
  .flip-card-back {
    transform: rotateY(180deg);
  }
  
  @media (max-width: 991px) {
    .image {
      text-align: center;
    }
    .image img {
      max-width: 80%;
    }
  }
  @media (max-width: 667px) {
   .image img {
      max-width: 100%;
    }
  }
  
  
  .center1{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%)
  }
  .popup{
   
    width:350px;
    height:400px;
    padding:0px 20px;
    background: #ddd;
    box-sizing:border-box;
    z-index:2;
    text-align:center;
    opacity:0;
    top:-200%;
    transform:translate(-50%,-50%) scale(0.5);
    transition:opacity 300ms ease-in-out,top 1000ms ease-in-out, transform 1000ms ease-in-out;
   
  }
  .popup.active{
    opacity:1;
    top:50%;
    transform:translate(-50%,-50%) scale(1);
    transition:transform 300ms cubic-bezier(0.18,0.89,0.43,1.19);
  }
  
  .popup .icon{
    margin: 5px 0px;
    width:50px;
    height:50px;  
    border: 2px solid #c30000;
    text-align:center;
    display:inline-block;
    border-radius:50%;
    line-height:55px;
  }
  .popup .title{
    margin:5px 0px;
    font-size:22px;
    font-weight:900;
  }
  .popup .description{
    color:#222;
    font-size:17px;
    padding:5px;
  }
  .popup .dismiss-popup-btn{
    margin-top:15px;
  }
  .dismiss-popup-btn ,.open-btn button{
    padding:10px 18px;
    background-color: #111;
    color:#f5f5f5;
    border: 2px solid #111;
    font-size:16px;
    font-weight:600;
    outline:none;
    border-radius:10px;
    transition:all 300ms ease-in-out;
    cursor:pointer;
  }
  
  .addbutton {
    padding:8px 20px;
    background-color: #5c9f24;
    color:#f5f5f5;
    border: 2px solid #5c9f24;
    font-size:16px;
    font-weight:600;
    outline:none;
    border-radius:10px;
    transition:all 300ms ease-in-out;
    cursor:pointer;
  
  }
  .addbutton:hover{
    color:#111;
    background:#f5f5f5;
  }
  
  .rembutton {
    padding:13px 25px;
    background-color: rgb(175, 8, 8);
    color:#f5f5f5;
    border: 2px solid rgb(175, 8, 8);
    font-size:14px;
    font-weight:600;
    outline:none;
    border-radius:10px;
    transition:all 300ms ease-in-out;
    cursor:pointer;
  
  }
  .rembutton:hover{
    color:#111;
    background:#f5f5f5;
  }
  .dismiss-popup-btn:hover,.open-btn button:hover{
    color:#111;
    background:#f5f5f5;
  }
  
  .popup > div{
    position:relative;
    top:10px;
    opacity:0;
  }
  .popup.active > div{
    top:0px;
    opacity:1;
  }
  
  .popup.active .icon{
    transition: all 300ms ease-in-out 250ms;
  }
  .popup.active .title{
    transition: all 300ms ease-in-out 250ms;
  }
  .popup.active .description{
    transition: all 300ms ease-in-out 250ms;
  }
  .popup.active .dismiss-btn{
    transition: all 300ms ease-in-out 400ms;
  }
  
  
  .modal__button{
    display: inline-block;
    background-color: #5865F2;
    color: #FFF;
    padding: 0.2rem 1.3rem;
    border-radius: .3rem;
    transition: .3s;
  }
  
  .modal__button:hover{
    background-color: var(--first-color-alt);
    color: #ffffff;
  }
  
  .modal__button-width{
    width: 90%;
  }
  
  .modal__button1{
    display: inline-block;
    background-color: #252525;
    color: #FFF;
    padding: 0.2rem 1.3rem;
    border-radius: .3rem;
    transition: .3s;
  }
  
  .modal__button1:hover{
    background-color: var(--first-color-alt);
    color: #000000;
  }
  
  .modal__button1-width{
    width: 90%;
  }
  .dimmer {
    display: none;
    background: #000;
    opacity: 0.70;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .popup1{
   
    width:350px;
    height:480px;
    padding:0px 20px;
    background: #ddd;
    box-sizing:border-box;
    z-index:2;
    text-align:center;
    opacity:0;
    top:-200%;
    transform:translate(-50%,-50%) scale(0.5);
    transition:opacity 300ms ease-in-out,top 1000ms ease-in-out, transform 1000ms ease-in-out;
   
  }
  .popup1.active{
    opacity:1;
    top:50%;
    transform:translate(-50%,-50%) scale(1);
    transition:transform 300ms cubic-bezier(0.18,0.89,0.43,1.19);
  }
  
  .popup1 .icon{
    margin: 5px 0px;
    width:50px;
    height:50px;  
    border: 2px solid #c30000;
    text-align:center;
    display:inline-block;
    border-radius:50%;
    line-height:55px;
  }
  .popup1 .title{
    margin:5px 0px;
    font-size:22px;
    font-weight:900;
  }
  .popup1 .description{
    color:#222;
    font-size:15px;
    padding:5px;
  }
  .popup1 .dismiss1-popup1-btn1{
    margin-top:15px;
  }
  .dismiss1-popup1-btn1 ,.open1-btn1 button{
    padding:8px 20px;
    background-color: #111;
    color:#f5f5f5;
    border: 2px solid #111;
    font-size:16px;
    font-weight:600;
    outline:none;
    border-radius:10px;
    transition:all 300ms ease-in-out;
    cursor:pointer;
  }
  .dismiss1-popup1-btn1:hover,.open-btn button:hover{
    color:#111;
    background:#f5f5f5;
  }
  .addbutton {
    padding:8px 20px;
    background-color: #5c9f24;
    color:#f5f5f5;
    border: 2px solid #5c9f24;
    font-size:16px;
    font-weight:600;
    outline:none;
    border-radius:10px;
    transition:all 300ms ease-in-out;
    cursor:pointer;
  
  }
  .addbutton:hover{
    color:#111;
    background:#f5f5f5;
  }
  
  .rembutton {
    padding:13px 25px;
    background-color: rgb(175, 8, 8);
    color:#f5f5f5;
    border: 2px solid rgb(175, 8, 8);
    font-size:14px;
    font-weight:600;
    outline:none;
    border-radius:10px;
    transition:all 300ms ease-in-out;
    cursor:pointer;
  
  }
  .rembutton:hover{
    color:#111;
    background:#f5f5f5;
  }

  .rembutton1 {
    padding:5px 20px;
    background-color: rgb(175, 8, 8);
    color:#f5f5f5;
    border: 2px solid rgb(175, 8, 8);
    font-size:14px;
    font-weight:600;
    outline:none;
    border-radius:10px;
    transition:all 300ms ease-in-out;
    cursor:pointer;
  
  }
  .rembutton1:hover{
    color:#111;
    background:#f5f5f5;
  }
  .dismiss-popup-btn:hover,.open-btn button:hover{
    color:#111;
    background:#f5f5f5;
  }
  
  .popup1 > div{
    position:relative;
    top:10px;
    opacity:0;
  }
  .popup1.active > div{
    top:0px;
    opacity:1;
  }
  
  .popup1.active .icon{
    transition: all 300ms ease-in-out 250ms;
  }
  .popup1.active .title{
    transition: all 300ms ease-in-out 250ms;
  }
  .popup1.active .description{
    transition: all 300ms ease-in-out 250ms;
  }
  .popup1.active .dismiss-btn{
    transition: all 300ms ease-in-out 400ms;
  }

  .popup2{
   
    width:350px;
    height:430px;
    padding:0px 20px;
    background: #ddd;
    box-sizing:border-box;
    z-index:2;
    text-align:center;
    opacity:0;
    top:-200%;
    transform:translate(-50%,-50%) scale(0.5);
    transition:opacity 300ms ease-in-out,top 1000ms ease-in-out, transform 1000ms ease-in-out;
   
  }
  .popup2.active{
    opacity:1;
    top:50%;
    transform:translate(-50%,-50%) scale(1);
    transition:transform 300ms cubic-bezier(0.18,0.89,0.43,1.19);
  }
  
  .popup2 .icon{
    margin: 5px 0px;
    width:50px;
    height:50px;  
    border: 2px solid #c30000;
    text-align:center;
    display:inline-block;
    border-radius:50%;
    line-height:55px;
  }
  .popup2 .title{
    margin:5px 0px;
    font-size:22px;
    font-weight:900;
  }
  .popup2 .description{
    color:#222;
    font-size:15px;
    padding:5px;
  }
  .popup2 .dismiss2-popup2-btn2{
    margin-top:15px;
  }
  .dismiss2-popup2-btn2 ,.open2-btn2 button{
    padding:8px 20px;
    background-color: #111;
    color:#f5f5f5;
    border: 2px solid #111;
    font-size:16px;
    font-weight:600;
    outline:none;
    border-radius:10px;
    transition:all 300ms ease-in-out;
    cursor:pointer;
    display: table-cell; 
    vertical-align: bottom;
  }
  .dismiss2-popup2-btn2:hover,.open-btn button:hover{
    color:#111;
    background:#f5f5f5;
  }
  .addbutton {
    padding:8px 20px;
    background-color: #5c9f24;
    color:#f5f5f5;
    border: 2px solid #5c9f24;
    font-size:16px;
    font-weight:600;
    outline:none;
    border-radius:10px;
    transition:all 300ms ease-in-out;
    cursor:pointer;
  
  }
  .addbutton:hover{
    color:#111;
    background:#f5f5f5;
  }
  
  .rembutton {
    padding:13px 25px;
    background-color: rgb(175, 8, 8);
    color:#f5f5f5;
    border: 2px solid rgb(175, 8, 8);
    font-size:14px;
    font-weight:600;
    outline:none;
    border-radius:10px;
    transition:all 300ms ease-in-out;
    cursor:pointer;
  
  }
  .rembutton:hover{
    color:#111;
    background:#f5f5f5;
  }

  .rembutton1 {
    padding:5px 20px;
    background-color: rgb(175, 8, 8);
    color:#f5f5f5;
    border: 2px solid rgb(175, 8, 8);
    font-size:14px;
    font-weight:600;
    outline:none;
    border-radius:10px;
    transition:all 300ms ease-in-out;
    cursor:pointer;
  
  }
  .rembutton1:hover{
    color:#111;
    background:#f5f5f5;
  }
  .dismiss-popup-btn:hover,.open-btn button:hover{
    color:#111;
    background:#f5f5f5;
  }
  
  .popup2 > div{
    position:relative;
    top:10px;
    opacity:0;
  }
  .popup2.active > div{
    top:0px;
    opacity:1;
  }
  
  .popup2.active .icon{
    transition: all 300ms ease-in-out 250ms;
  }
  .popup2.active .title{
    transition: all 300ms ease-in-out 250ms;
  }
  .popup2.active .description{
    transition: all 300ms ease-in-out 250ms;
  }
  .popup2.active .dismiss-btn{
    transition: all 300ms ease-in-out 400ms;
  }
  
.excel {
  display: table; 
  text-align: center;  
  width: 200px;
  height: 200px;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

* {
  box-sizing: border-box;
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

figcaption {
  font-style: italic;
  font-size: 0.8em;
  color: grey;
  line-height: 1.2;
}

.grid {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 90%;
  grid-gap: 1em;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 2em 1em;
  background: white;
}
@media all and (min-width: 600px) {
  .grid {
    grid-auto-flow: initial;
    grid-template-columns: repeat(auto-fit, minmax(auto, 20em));
    justify-content: center;
  }
}
.grid__figure {
  display: grid;
  grid-template-rows: 15em 1fr;
  grid-gap: 1em;
}
.grid__figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}